<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GGGGGoText.Properties.UctSearch" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="GGGG.NeuralEstimator.Properties.NeuralEstimator" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="GGGG.Properties.UctSearch" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <applicationSettings>
    <GGGGGoText.Properties.UctSearch>
      <!--Sets default time to think if no time control is passed-->
      <setting name="TimeToThink" serializeAs="String">
        <value>00:00:15</value>
      </setting>
    </GGGGGoText.Properties.UctSearch>
    <GGGG.Properties.UctSearch>
      <setting name="ResignWinrate" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="PassEarlyWinrate" serializeAs="String">
        <value>0.9</value>
      </setting>
    </GGGG.Properties.UctSearch>
    <GGGG.NeuralEstimator.Properties.NeuralEstimator>
      <!--Name of the file to store training data in, will be stored in something like \AppData\Local\MattyGo\-->
      <setting name="FileName" serializeAs="String">
        <value>trainingData.gtrain</value>
      </setting>
      <!--The first hidden layer will get 9x9 or 11*9 or 13 * 8 or 19*9 neurons etc when we train a new network-->
      <setting name="HiddenLayer1NeuronMultiplier" serializeAs="String">
        <value>9</value>
      </setting>
      <!--The second hidden layer will get 9x9 or 11*9 or 13 * 8 or 19*9 neurons etc when we train a new network-->
      <setting name="HiddenLayer2NeuronMultiplier" serializeAs="String">
        <value>9</value>
      </setting>
      <!--Number of training iterations before we give up trying to reach desired error when we train a new network-->
      <setting name="MaxTrainingIterations" serializeAs="String">
        <value>5000</value>
      </setting>
      <!--We will give up training the network if it becomes this accurate when we train a new network-->
      <setting name="DesiredError" serializeAs="String">
        <value>0.001</value>
      </setting>
    </GGGG.NeuralEstimator.Properties.NeuralEstimator>
  </applicationSettings>
  <appSettings>
    <add key="log4net.Internal.Debug" value="false"/>
    <add key="AppFolderName" value="MattyGo"/>
  </appSettings>
  <log4net debug="false">
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="bot.log"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} - %message%newline"/>
      </layout>
    </appender>

    <root>
      <priority value="INFO"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
