<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GGGG.NeuralEstimator.Properties.NeuralEstimator" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GGGG.NeuralEstimator.Properties.NeuralEstimator>
            <setting name="FileName" serializeAs="String">
                <value>trainingData.gtrain</value>
            </setting>
            <setting name="HiddenLayer1NeuronMultiplier" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="HiddenLayer2NeuronMultiplier" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="MaxTrainingIterations" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="DesiredError" serializeAs="String">
                <value>0.002</value>
            </setting>
        </GGGG.NeuralEstimator.Properties.NeuralEstimator>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
